
:root {
  --backround-primary-color: #D1D1D1;
  --text-color: #1C1D25;
  --active-color: #489c79;
  --button-color: #25314A;
  --button-hover-opacity: 0.8;
  --span-background-color: #1F2030;
  --span-text-color: #D6E100;
  --grid-background-color: #317E88;
  --header-font-weight: 700;
}

body {
    background-color: var(--backround-primary-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
@import url("sanitize.css");
* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-bottom: 1px solid #1C1D25;
}

.page-header__item {
  flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0)
  0, #D1D1D1 100%);
  margin-top: 0px;
  height: 100px;
  width: 200px;
  content: '';
}

.page-body {
  margin: 0 10px;
  min-height: 75%;
}
.page-body__item {
  text-align: center;
}

.about-page-body {
  margin: 0 10px;
  min-height: 75%;
}
.about-page-body__item {
  text-align: center;
}

.about-page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.about-page-header__item {
  flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.about-page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.about-page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.about-page-header__item {
  flex: 0 1
   200px;
  max-height: 175px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.contact-page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.contact-page-header__item {
  flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.contact-page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.contact-page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.contact-page-header__item {
  flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
}

.work-page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.work-page-header__item {
  flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.work-page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.work-page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.work-page-header__item {
  flex: 0 1
   200px;
  max-height: 175px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15 px;
}

.navigation-list__item--active, .nav-list__item--active:visited {
  text-decoration: none;
  color: var(--text-color);
  text-size-adjust: 24px
}

.profile {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}



.paragraph__code {
  background-color: var(--span-background-color);
  color: var(--span-text-color);
  padding: 3px;
  border-radius: 5%;
}


h1 {
  font-size: 30px;
  font-weight: var(--header-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}

a {
  color: var(--text-color);
  padding: 12px;
  font-size: 20px;
}


a:hover, a:focus {
  /*No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /*visited link -->*/
  color: var(--text-color);
}

a:active {
  /*selected link -->*/
  color: var(--active-color);
}

.contact-links {
  list-style-type: none;
  font-size: 18px;
  padding: 12px;
}
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button-color);
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: var(--button-hover-opacity);
}

.page-footer {
    clear: both;
    disply: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #1C1D25;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display:grid) {
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0;
}

.grid__item {
  background-color: var(--grid-background-color);
  border-radius: .5%;
  width: auto;
  min-height: auto;
  margin: 0;
  }

.grid__item:last-child {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
