/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    background-color: #E1E1E1;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}
@import url("sanitize.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-bottom: 1px solid #1C1D25;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1
   200px;
          flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-header::after {
  display: block;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(#E1E1E1));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0)
  0, #E1E1E1 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0)
  0, #E1E1E1 100%);
  margin-top: 0px;
  height: 100px;
  width: 200px;
  content: '';
}

.page-body {
  margin: 0 10px;
  min-height: 75%;
}
.page-body__item {
  text-align: center;
}

.about-page-body {
  margin: 0 10px;
  min-height: 75%;
}
.about-page-body__item {
  text-align: center;
}

.about-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.about-page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1
   200px;
          flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.about-page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.about-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.about-page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1
   200px;
          flex: 0 1
   200px;
  max-height: 175px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.contact-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.contact-page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1
   200px;
          flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.contact-page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.contact-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.contact-page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1
   200px;
          flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
}

.work-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.work-page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1
   200px;
          flex: 0 1
   200px;
  max-height: 100px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.work-page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.work-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.work-page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1
   200px;
          flex: 0 1
   200px;
  max-height: 175px;
  width: auto;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 10px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  color: #1C1D25;
  -webkit-text-size-adjust: 24px;
     -moz-text-size-adjust: 24px;
      -ms-text-size-adjust: 24px;
          text-size-adjust: 0;
}

.nav-list__item--active:visited {
  text-decoration: none;
  color: #1C1D25;
  -webkit-text-size-adjust: 24px;
     -moz-text-size-adjust: 24px;
      -ms-text-size-adjust: 24px;
          text-size-adjust: 0;
}

.profile {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__portrait {
  float: left;
  width: 175px;
  margin-right: 40px;
  border-radius: 50%;
}



.paragraph__code {
  background-color: #1F2030;
  color: #D6E100;
  padding: 3px;
  border-radius: 5%;
}


h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #1C1D25;
  padding: 12px;
  font-size: 20px;
}


a:hover, a:focus {
  /*No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /*visited link -->*/
  color: #1C1D25;
}

a:active {
  /*selected link -->*/
  color: #489c79;
}

.contact-links {
  list-style-type: none;
  font-size: 18px;
  padding: 12px;
}
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #25314A;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.page-footer {
    clear: both;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border-top: 1px solid #1C1D25;
}

.page-footer__item {
  float: none;
  width: 32px;
  margin-right: 5px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display:grid) {
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0;
}

.grid__item {
  background-color: #317E88;
  border-radius: .5%;
  width: auto;
  min-height: auto;
  margin: 0;
  }

.grid__item:last-child {
      -ms-grid-column: 3;
          grid-column-start: 3;
      -ms-grid-column-span: 0;
      grid-column-end: 3;
      -ms-grid-row: 1;
          grid-row-start: 1;
      -ms-grid-row-span: 2;
      grid-row-end: 3;
    }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}
